.clients__list {
    display: flex;
    justify-content: center;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;

    border: 1px solid var(--icons-fill-light-background);
    border-radius: 4px;

    transition: border-color var(--transition-animation);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}


.clients__icon {
    fill: var(--icons-fill-light-background);

    transition: fill var(--transition-animation);

    .clients__link:hover &,
    .clients__link:focus & {
        fill: var(--accent-color);
    }
}