.features__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        width: 354px;
    }
}

.features__item:not(:last-child) {
    margin-bottom: 30px;
}

.features__title {
    margin-bottom: 10px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-light);

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.features__desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}

.features__item {

    @media screen and (min-width: 1200px) {
        width: 270px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.features__container {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--icons-light-background);
    border-radius: 4px;
}

.features__icon {
    background-color: var(--light-background-section-color);
}