.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.nav-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);

    transition: color var(--transition-animation);

    &:hover, 
    &:focus {
        color: var(--accent-color);
    }
}


.nav-list__link.nav-list__link--current {
    position: relative; 

    color: var(--accent-color);

    &::after {
        content: '';
    
        position: absolute;
        left: 0;
        bottom: 0;
    
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }
}

.nav-list .nav-list__item:not(:last-child) {
    margin-right: 50px;
}

// mobile menu
.menu-button {
    border: none;
    background-color: var(--white-background-section-color);
    padding-top: 10px;
    padding-bottom: 10px;

    &:focus {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.nav--mobile {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    overflow: auto;
    background-color: #fff;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.is-open {
        transform: translateX(0);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.nav-container--mobile {
    position: relative;

    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    
    padding-top: 48px;
    padding-bottom: 48px;
}

.menu-button--mobile {
    position: absolute;
    right: 15px;
    top: 10px;

    background-color: transparent;
    border: none;

    &:focus {
        fill: var(--accent-color);
    }
}

.nav-list__link--mobile {
    font-family: inherit;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);

    &.nav-list__link--current-mobile {
        color: var(--accent-color);
    }
}

.nav-list__item--mobile:not(:last-child) {
    margin-bottom: 32px;
}
// 