
.header-contacts {
    display: none;

    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: 45px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        margin-left: 300px;

        &__item:not(:last-child) {
            margin-right: 40px;
            margin-bottom: 0;
        }
    }

    &--mobile {
        margin-top: 15vh;
    }
}

.header-contacts__item--mobile {
    margin-bottom: 32px;
}

.menu-socials {
    display: flex;
    margin-top: 14vh;

    &__item:not(:last-child) {
        margin-right: 20px;
    }

    &__link {
        position: relative;
        font-family: inherit;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }

    &__link.apart::after {
        content: "";
        position: absolute;
        right: -11px;
        bottom: 0;
        display: block;
        width: 1px;
        height: 100%;
        border-radius: 2px;
        background-color: rgba(33, 33, 33, 0.2);;
    }
}


.contacts-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);

    transition: color var(--transition-animation);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &--phone {
        font-family: inherit;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }

    &--email {
        font-family: inherit;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color-theme-light);
    }
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts-link--reverse {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-dark);
    
    transition: color var(--transition-animation);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
