
.form__field {
    position: relative;

    display: flex;
    flex-direction: column;
}

.form__field input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 12px 12px 12px 42px;

    font-family: inherit;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--transition-animation);

    &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
    }
}

.form__field label {
    margin-bottom: 4px;
    
    text-align: left;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color-theme-light);
}

.form__field textarea {
    resize: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 16px;

    font-family: inherit;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--transition-animation);

    &::placeholder {
        font-family: inherit;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus  {
        outline: none;
        border: 1px solid var(--accent-color);
    }
}

.form__icon {
    position: absolute;
    top: 42%;
    left: 22px;

    transform: translate(-50%);

    display: inline-block;
    fill: var(--button-text-color);

    transition: fill var(--transition-animation);

    .form__field:focus-within > & {
        fill: var(--accent-color);
    }
}

.form__agreement {
    margin-bottom: 30px;
}

.form__agreement label {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: inherit;
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);

    // font-size: 14px;
}

.form__checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;

    &:focus + .form__checkbox--active {
        border: 2px solid var(--accent-color);
    }
}

.form__checkbox--active {
    width: 16px;
    height: 15px;
    margin-right: 8px;

    border: 2px solid var(--button-text-color);
    border-radius: 4px;
}

.form__checkbox:checked + .form__checkbox--active {
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
}


.form__link {
    margin-left: 3px;
    color: var(--accent-color);
}
