
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding-top: 95px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity var(--transition-animation), background-color var(--transition-animation);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    @media screen and (min-width: 768px) {
        overflow-y: scroll;
    }
}


.modal {
    position: relative;
    width: 450px;
    padding: 40px;

    background-color: var(--white-background-section-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media (min-width: 768px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);

        transition: transform var(--transition-animation);

        .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    @media (min-width: 1200px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);

        transition: transform var(--transition-animation);

        .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    &__header {
        margin-bottom: 12px;
    
        font-family: inherit;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: var(--primary-text-color-theme-light);
    }
}


.modal--close {
    position: absolute;
    top: 0;
    right: 0;

    margin-top: 8px;
    margin-right: 8px;

    background-color: #FFFFFF;

    transition: fill var(--transition-animation);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.modal__button {
    width: 200px;
    min-height: 50px;
    margin: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--button-text-hover-color);

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color var(--transition-animation), box-shadow var(--transition-animation);

    &:hover,
    &:focus {
        background-color: var(--blue-button-hover-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
