body {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color-theme-light);
    background-color: #FFFFFF;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 94px 0;
}